body{
    margin: 0px;
}
.img {
    background-image: url("./jpg/257326824_570122310722130_5503022376326937017_n (1).jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}